@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .products {
        &__grid {
            grid-template-columns: 200px 740px;
        }
    }
    .aside {
        &__wrapper.flex {
            input {
                width: 50%;
                border: 1px solid $borders;
            }
        }
        &__wrapper.keyword {
            input {
                border: 1px solid $borders;
            }
        }
    }
    .aside {
        position: static;
        margin: 0 0 20px;
    }
    .item{
        &__grid {
            grid-template-columns: 224px 375px 76px;
        }
        &__price {
            font-size: 15px;
        }
        .zoomed {
            transform: translateX(50%) translateY(-50%) scale(3);
        }
    }
    .footer {
        &__grid {
            grid-template: 21px 81px 30px/250px 375px 254px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .products {
        &__grid {
            display: block;
        }
        &-block{
            grid-column: 1/2;
            grid-row: 2/3;
            &__text {
                font-size: 14px;
                line-height: 16px;
                width: auto;
            }
        }
    }
    .item{
        &__grid {
            grid-template-columns: 190px 261px;
            grid-template-rows: 140px 28px;
            img {
                height: 100%;
            }
        }
        &__wrapper {
            grid-column: 2/3;
            grid-row: 1/3;
        }
        &__title {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
            width: auto;
        }
        &__tags {
            flex-wrap: wrap;
            justify-content: left;
        }
        &__tag {
            margin-top: 5px;
        }
        .zoomed {
            height: auto;
            transform: translateX(50%) translateY(-50%) scale(2);
        }
        &__price {
            margin-top: 5px;
            font-weight: 700;
            font-size: 20px;
            justify-content: center;
        }
    }
    .footer {
        &__grid {
            grid-template: 21px 81px 30px/182px 275px 182px;
            br {
                display: none;
            }
        }
        &__adress {
            font-size: 13px;
        }
        &__text {
            font-size: 12px;
            line-height: 15px;
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .products {
        &__grid {
            grid-template-columns: 520px;
        }
        &-block {
            margin-top: 20px;
        }
    }
    .item {
        .zoomed {
            height: auto;
            transform: translateX(50%) translateY(-50%) scale(1.5);
        }
    }
    .aside {
        margin-top: 0;
    }
    .footer {
        &__grid {
            padding: 20px;
            grid-template: 21px 50px 31px 30px / 480px;
        }
        &__header {
            font-size: 15px;
            text-align: center;
        }
        &__contacts {
            grid-row: 3/4;
        }
        &__text {
            grid-column: 1/2;
            width: 100%;
            grid-row: 2/3;
            text-align: center;
        }
        &__social {
            margin-top: 10px;
            grid-row: 4/5;
            justify-content: center;
            width: 100%;
        }
        &__link {
            margin: 0 10px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        &-nav {
            &__list {
                padding: 0 10px;
                font-size: 14px;
                width: 100%;
            }
        }
        &-breadcrump {
            flex-wrap: wrap;
        }
    }
    .products {
        &__grid {
            grid-template-columns: 100% ;
        }
        &-block {
            &__header {
                font-size: 18px;
                text-align: center;
            }
            &__btns {
                margin-bottom: 20px;
            }
            &__wrapper {
                flex-wrap: wrap;
                justify-content: center;
            }
            &__text {
                font-size: 11px;
                line-height: 14px;
            }
        }
    }
    .item {
        &__grid {
            display: block;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 5px;
        }
        &__price {
            margin-top: 0;
        }
        &__img {
            margin: 0 auto;
            width: 80%;
            display: block;
            margin-bottom: 5px;
        }
        &__descr {
            font-size: 16px;
            margin-bottom: 5px;
        }
        &__wrapper {
            bottom: 0;
            min-height: 100px;
            text-align: center;
        }
        .zoomed {
            height: auto;
            transform: translateX(50%) translateY(-50%) scale(1);
            
        }
        &__tags {
            position: static;
            justify-content: center;
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .footer {
        &__grid {
            grid-template: 21px 60px 45px 30px/ 100%;
            row-gap: 15px;
        }
        &__text {
            font-size: 10px;
            line-height: 12px;
        }
        &__adress {
            font-size: 10px;
            margin-bottom: 0;
            line-height: 13px;
        }
        &__phone {
            font-size: 10px;
        }
        &__social {
            margin-top: 0;
        }
        &__privacy {
            font-size: 10px;
        }
    }
}