.sidepanel {
    top: 230px;
    left: 50px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    position: fixed;
    align-items: center;
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #000;
    }
    &__link {
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            display: block;
            transform: rotate(-90deg) translate(-32%, -264%);
            width: 150px;
        }
    }
}