.mobile_item {
	position: relative;
	width: 320px;
	height: 280px;
	margin: 0 auto;
    transition: .5s all;
	margin-bottom: 19px;
	padding: 92px 20px 0;
}

.mobile_item_1 {
	background: url("../img/bg/mobile_screen_1.jpg") center center/cover no-repeat
}

.mobile_item_2 {
	background: url("../img/bg/mobile_screen_2.jpg") center center/cover no-repeat
}

.mobile_item_3 {
	background: url("../img/bg/mobile_screen_3.jpg") center center/cover no-repeat
}

.mobile_item_4 {
	background: url("../img/bg/mobile_screen_4.jpg") center center/cover no-repeat
}

.mobile_item_5 {
	background: url("../img/bg/mobile_screen_5.jpg") center center/cover no-repeat
}

.mobile_item_6 {
	background: url("../img/bg/mobile_screen_6.jpg") center center/cover no-repeat
}

.mobile_item_subtitle {
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 31px;
	text-transform: uppercase;
	text-align: center
}

.mobile_item_plus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 36px;
	height: 36px;
	background-color: #000000;
	margin: 0 auto;
	border-radius: 100%;
    z-index: 15;
	cursor: pointer
}

.mobile_item_plus:before {
	content: '';
	display: block;
	width: 14px;
	height: 2px;
	background-color: #1eacc7;
	-webkit-transition: 0.3s all;
	transition: 0.3s all
}

.mobile_item_plus:after {
	content: '';
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	height: 14px;
	width: 2px;
	background-color: #1eacc7;
	-webkit-transition: 0.3s all;
	transition: 0.3s all
}

.mobile_item_plus:hover:before,
.mobile_item_plus:hover:after {
	background-color: #ff5656
}


.clicked {
    background: none;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    transition: .4s all;
    &_subtitle {
        display: none;
    }
    &_plus {
        &:before {
            background-color: rgb(255, 86, 86);
            transform: rotate(-45deg);
        }
        &:after {
            background-color: rgb(255, 86, 86);
            transform: rotate(-45deg);
        }
    }
}

