@media (max-width: 1200px) {
    .header {
        &__menu {
            width: 700px;
        }
        &__item {
            font-size: 15px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        min-height: 500px;
        &__menu {
            width: 500px;
        }
        &__item {
            font-size: 12px;
            padding: 0 10px;
            line-height: 61px;
            a {
                &:hover {
                    &:before {
                    content:'';
                    }
                }
            }
        }
        &__text {
            font-size: 12px;
        }
        &__account {
            img {
                line-height: 0;
            }
        }
        &__title {
            padding-top: 120px;
            font-size: 30px;
            width: 420px;
        }
        &__img {
            top: 80px;
            width: 360px;
        }
        &__wrapper {
            padding: 0 15px;
        }
        &-about {
            min-height: 480px;
            &__title {
                font-size: 45px;
                line-height: 50px;
            }
        }
    }
    .features {
        min-height: 85px;
        &__img {
            margin: 0 30px;
            height: 60px;
        }
    }
    .products {
        padding: 20px 15px;
        &__title {
            font-size: 30px;
        }
        &__wrapper {
            justify-content: space-between;
        }
        &-item {
            padding: 0 15px;
            width: 33%;
            height: 320px;
            &__title {
                font-size: 15px;
            }
            &__text {
                font-size: 12px;
                line-height: 16px;
                width: 70%;
            }
            &__price {
                font-size: 12px;
            }
        }
    }
    .fast {
        min-height: 500px;
        padding: 0 15px;
        .container {
            padding: 35px 18px;
            min-height: 480px;
        }
        &__title {
            font-size: 26px;
        }
        &-item {
            &__img {
                width: 200px;
            }
        }
    }
    .advantage {
        min-height: 400px;
        padding: 50px 15px;
        &__title {
            font-size: 30px;
        }
        &__wrapper {
            margin-top: 40px;
        }
        &-item {
            margin-right: 35px;
            text-align: center;
            &__title {
                margin-top: 30px;
            }
            img {
                width: 170px;
            }
        }
    }
    .request {
        padding: 15px;
        min-height: 300px;
        .container {
            padding: 25px 15px;
        }
        &-item {
            &__title {
                font-size: 19px;
            }
            &__descr {
                font-size: 13px;
            }
        }
    }
    .reviews {
        min-height: 500px;
        padding: 20px 10px;
        &__rating {
            padding: 0 80px;
        }
        .container {
            padding: 30px 10px 0;
            min-height: 450px;
        }
        &__title {
            font-size: 30px;
        }
        &-item {
            margin-top: 15px;
            &__img {
                width: 48%;
            }
            &__quotate {
                font-size: 15px;
                line-height: 22px;
            }
            &__photo {
                height: 50px;
            }
            &__name {
                font-size: 12px;
            }
        }
    }
    .start {
        padding: 30px 0;
    }
    .footer {
        padding: 35px 10px;
        &__link { 
            margin-bottom: 10px;
            a {
                font-size: 13px;
            }
        }
    }
    .all {
        .container {
            padding: 0 5px;
        }
        &__title { 
            font-size: 35px;
        }
        &-item {
            height: 365px;
        }
    }
    .inspiration {
        .container {
            display: none;
        }
        &__slider {
            display: block;
            img {
                display: block;
                margin-top: 10px;
            }
        }
    }
    .history {
        &__wrapper {
            padding: 0 15px;
        }
        &__title {
            margin-top: 25px;
            font-size: 35px;
        }
        &__block {
            width: 67%;
        }
        &__text {
            font-size: 20px;
            width: 100%;
        }
    }
    .we {
        &__photo {
            width: 250px;
        }
        &__descr {
            font-size: 22px;
        }
        &__name {
            line-height: 33px;
            font-size: 33px;
        }
    }
}
@media (max-width: 767px) {
    .header {
        min-height: 380px;
        &__nav {
            height: 40px;
            .arko_logo {
                height: 20px;
                margin: 9px 0 0 9px;
            }
        }
        &-mobile {
            display: block;
        }
        &__wrapper {
            display: none;
        }
        &__account {
            display: none;
        }
        &__title {
            padding-top: 80px;  
            width: 300px;
            font-size: 26px;
            line-height: 30px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 20px;
        }
        &__img
        {
            top: 70px;
            width: 250px;
        }
        &-about {
            min-height: 320px;
            &__title {
                padding-top: 100px;
                font-size: 33px;
                line-height: 36px;
            }
        }
    }
    .button {
        padding: 0 15px;
        font-size: 12px;
        min-width: 170px;
    }
    .hamburger {
        display: block;
    }
    .features {
        min-height: 70px;
        &__img {
            height: 50px;          
        }
    }
    .products {
        &__title {
            font-size: 22px;
        }
        &-item {
            box-sizing: border-box;
            padding: 0 30px;
            width: 49.4%;
            height: 330px;
            &__img {
                width: 70%;
                pointer-events: none;
            }
            &__title {
                font-size: 20px;
            }
            &__text {
                font-size: 14px;
            }
            &__price {
                font-size: 13px;
            }
        }
    }
    .fast {
        padding-top: 20px;
        min-height: 300px;
        .container {
            min-height: 300px;
        }
        &-item {
            &__img {
            width: 150px;
            }
            &__title {
                font-size: 15px;
            }
            &__descr {
                font-size: 12px;
            }
        }
        .button {
            margin-top: 35px;
        }
        &__title {
            font-size: 20px;
        }
    }
    .advantage {
        &-item {
            &__title {
                font-size: 15px;
            }
            &__descr {
                font-size: 12px;
                line-height: 16px;
            }
            img {
                width: 150px;
            }
        }
    }
    .request {
        &-item {
            padding: 0 20px;
            &__title {
                font-size: 15px;
            }
            &__descr {
                font-size: 12px;
                line-height: 16px;
            }
            &__img {
                width: 150px;
            }
        }
    }
    .reviews {
        &__rating {
            padding: 0 10px 20px;
            justify-content: inherit;
            position: relative;
        }
        &__google {
            position: absolute;
            height: 90%;
            left: 80px;
        }
        .divider {
            margin: 0 auto;
        }
        &__shopify {
            right: 60px;
            height: 90%;
            position: absolute;
        }
        &-item {
            &__img {
                margin: 0 auto;
                width: 78%;
            }
            &__quotate {
                font-size: 18px;
            }
            &__subblock {
                justify-content: center;
                margin-bottom: 25px;
            }
            flex-wrap: wrap;
            text-align: center;
            &:nth-child(3) {
                .reviews-item__block {
                    order: 2;
                }
            }
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__form {
            margin: 15px auto 0;
            text-align: center;
        }
        &__menu {
            margin-left: 20px;
            font-size: 11px;
        }
        &__icon {
            margin-right: 5px;
        }
    }
    .all {
        &-item {
            height: 360px;
        }
    }
    .history {
        min-height: 450px;
        &__title {
            font-size: 28px;
        }
        &__divider {
            width: 100%;
            height: 9px;
        }
        &__text {
            font-size: 15px;
            line-height: 20px;
        }
        &__img {
            height: 460px;
        }
    }
    .we {
        min-height: 350px;
        &__photo {
            margin: 0 auto;
            width: 180px;
        }
        &__descr {
            font-size: 18px;
        }
        &__name {
            font-size: 25px;
            margin-top: 0;
        }
    }
    .start-form, .dieline-form {
        width: 300px;
        height: 310px;
        .form {
            &__text {
                font-size: 14px;
                margin-bottom: 2px;
            }
            &__input {
                width: 100%;
                font-size: 12px;
                height: 25px;
            }
            &__textarea {
                height: 40px;
                font-size: 12px;
                padding: 5px 8px;
            }
        }
        .button {
            margin-top: 0;
            font-size: 12px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        text-align: center;
        min-height: 320px;
        .container {
            z-index: 2;
        }
        &__title {  
            text-align: center;
            width: 80%;
            font-size: 22px;
            margin: 0 auto;
        }
        &__img {
            display: none;
        }
        &-mobile {
            padding-left: 20px;
            &__menu {
                margin: 16px 0;
            }
            &__item {
                font-size: 20px;
                text-align-last: left;
            }
            &__text {
                font-size: 20px;
            }
            &__basket {
                img {
                   height: 20px; 
                   right: 16%;
                }
                height: 30px;
                width: 30px;
                margin-left: 10px;
            }
        }
        &-about {
            min-height: 220px;
            &__title {
                padding-top: 70px;
                font-size: 25px;
                line-height: 29px;
            }
        }
    }
    .features {
        min-height: 50px;
        padding-bottom: 20px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__img {
            margin: 0 auto;
        }
    }
    .button {
        font-size: 10px;
        min-width: 100px;
        line-height: 13px;
        padding: 0 8px;
        height: 34px;
        letter-spacing: 1px;
    }
    .products {
        &__title {
            font-size: 18px;
        }
        &-item {
            width: 330px;
            margin: 0 auto;
            height: 360px;
            margin-bottom: 4px;
            &__img {
                width: 290px;
                pointer-events: none;
            }
            &__title {
                margin-top: 250px;
                font-size: 22px;
            }
        }
        &__subtitle {
            font-size: 12px;
            line-height: 32px;
        }
    }
    .fast {
        &__title {
            font-size: 18px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &-item {
            margin: 0 auto;
            &__img {
                width: 80%;
            }
            &__title {
                font-size: 18px;
            }
            &__descr {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
    .advantage {
        &__title {
            font-size: 22px;
            text-align: center;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &-item {
            margin-right: 0;
            img {
                width: 80%;
            }
            &__title {
                margin-top: 15px;
                font-size: 18px;
            }
            &__descr {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
    }
    .request {
        &__wrapper {
            flex-wrap: wrap;
        }
        &-item {
            border-right: none;
            margin-bottom: 15px;
            &__img {
                width: 80%;
            }
            &__title {
                margin-top: 10px;
                font-size: 18px;
            }
            &__descr {
                font-size: 14px;
            }
        }
    }
    .reviews {
        &__title {
            font-size: 22px;
        }
        &__google {
            left: 5%;
            height: 60%;
            margin-top: 7px;
        }
        &__shopify {
            height: 60%;
            right: 5%;
            margin-top: 7px;
        }
        &-item {
            &__img {
                width: 90%;
                height: 100%;
            }
            &__block {
                padding: 10px;
                margin: 0 auto;
            }
            .button {
                margin-top: 7px;
            }
        }
    }
    .start {
        min-height: 120px;
        &__title {
            margin-bottom: 30px;
        }
    }
    .footer {
        position: relative;
        padding-top: 15px;
        &__logo {
            position: absolute;
            margin-left: 11px;
        }
        &__wrapper {
            justify-content: start;
        }
        &__menu {
            margin: 45px 11px 0;
            padding-inline-start: 0;   
        }
        &__block {
            margin-left: 15px;
            margin: 0 auto;
            text-align: center;
        }
        &__form {
            margin-top: 25px;
        }
    }
    .all {
        &__title {
            font-size: 30px;
        }
        &__divider {
            width: 60%;
            height: 10px;
            margin: 15px auto;
        }
        &-item {
            height: 400px;
        }

    }
    .inspiration {
        padding-top: 70px;
        &__title {
            font-size: 25px;
        }

    }
    .history {
        &__img {
            display: none;
        }
        &__block {
            width: 100%;
        }
        &__title {
            font-size: 23px;
        }
        &__text {
            font-size: 12px;
            line-height: 15px;
        }
    }
    .we {
        padding: 25px 0;
        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            padding:  0 5px;
        }
        &__photo {
            width: 140px;
        }
        &__descr {
            font-size: 12px;
        }
        &__name {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}